		
	/*Navbar*/
body {
	background-color: #faf5eb;
}
	nav {
    margin-top:20px;
    /*border:solid blue;*/
}

.nav-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

.navbar {
    float:left;
}

.navbar a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 50px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover{
    background-color:#0080ff;
}


	.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
   	grid-template-rows: repeat(5, 100px);
   	display: 0 auto;
	}

	
	}

	.donatebox1 {
	grid-column-start: 1;
	grid-column-end: 3;
	}

	.donatebox2 {
	grid-column-end: 3;
	grid-column-start:1;
   	grid-row-start: 2;
   	grid-row-end: 3;
	}

	.donatebox3 {
	grid-column-end: 3;
	grid-column-start:1;
   	grid-row-start:3;
   	grid-row-end: 5;
	}

	.donatebox4 {
	grid-column-start:1;
	grid-column-end: 3;
   	grid-row-start: 5;
   	grid-row-end: 6;
   	background-color:  #e6e6e6;
	}

	.donatebox4 h3 {
		position: relative;
		top: 20px;
	}

	.donatebox5 {
	grid-column-start: 3;
   	grid-row-start: 1;
   	grid-row-end: 4;
	}

	.wrapper {
	width: 800px;
   	text-align:center;
    padding:40px 70px;
    position: relative;
    right: 65px;
    bottom: 20px;
	}


	.donation-box1 {
	border: 2px solid;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	background-color:#187a97;
	}

	.donation-box2 {
	border: 2px solid;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	background-color:#187a97;
	}

	.donation-box3 {
	border: 2px solid;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	background-color:#187a97;
	}

	.donatebox3 .wrapper ul li {
	height: 20px;
	list-style-type: none;
    margin: 0;
    padding:20px 20px;;
    overflow: hidden;
    display: inline-block;
    border-radius: 6%;
    color: white;
	}

	@media all and (max-width:800px){
		.donatebox3 .wrapper ul li {
			display: block;
		}
	}

	.donatebox3 ul li:hover {
    background-color:#0080ff;
	}


	.donation-box4 {
	border: 2px solid;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	background-color:#187a97;
	}

	.donation-box5 {
	border: 2px solid;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	background-color:#187a97;
	}

	.donation-box5 {
	margin-top: 20px;
	width: 100px;
	height: 50px;
	background-color:#187a97;
	}
	
	.pay textarea {
		position: relative;
		left: 200px;
		bottom: 40px;
		font-size: 15px;
}

	.check input {
		position: relative;
		left: 50px;
	}

	.donatebox5 ul li {
		font-size: 25px;
		font-weight: 700;
		color:  #4d4d4d;

	}