*{
	margin:0;
	padding:0;
}

nav {
	/*border: 2px solid blue;*/
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
}

li {
	float:left;
}

li a {
	display:block;
	color:white;
	text-align:center;
	padding:14px 50px;
	text-decoration: none;
	font-size: 18px;
	font-family:georgia;
}

li a:hover{
	background-color:#0080ff;
}

.mission {
	position:relative;
	top:70px;
	left:5px;
	font-family:georgia;
}

h1 {
	position:relative;
	width:400px;
	/*border:2px solid red;*/
	/*margin-top:10px;
	margin-left:375px;*/
	left:425px;
	top:10px;
	font-family:georgia;
}

h2 {
	position:relative;
	top:50px;
	left:200px;
	font-family:georgia;
}

.logo {
	left:70px;
	top:30px;
	position:relative;
	/*border:2px solid purple;*/
	width:75px;
	height:65px;
	background-image:url("images/logo.jpeg");
	background-size:100% 100%;
	
}

.titlewrapper{
	/*border: 2px solid red;*/
	width:100%;
	height:140px;
	background-color:#faf5eb;
}

.wrapper1 {
	background-color:#faf5eb;
	border: 2px solid orange;
	width:100%;
	height:900px;
}

.content1{
	border:2px solid blue;
	width:49%;
	height:700px;
	float:left;
}

.content2 {
	border:2px solid red;
	width:49%;
	height:700px;
	float:left;
	position:relative;
	left:20px;
}

.dogpic1 {
	border: 2px solid black;
	width:450px;
	height:300px;
	position:relative;
	top:150px;
	left:60px;
	background-image:url("images/dogs-in-field.jpg");
	background-size:100% 100%;
}
